{% extends "base.html" %}

{% block content %}
<div class="form-box">
    <h1>Register</h1>
    <form action="/auth/register" method="POST">
        <label for="user_name" class="form-label">User Name</label>
        <input type="text" name="user_name" id="user_name" class="form-input" required>

        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-input" required>

        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-input" required>

        <div class="form-actions">
            <button type="submit" class="btn">Register</button>
        </div>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
